@baseSpacing        : 20px;
@sliderHeight       : (@baseSpacing * 2);

.Slider {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    height: @sliderHeight;
    width: 30vw;
    min-width: @minTrackWidth;
    padding-top: (@baseSpacing  * 3) + 5;
    margin: @baseSpacing (@activeHandle / 2);
    line-height: @sliderHeight;
    user-select: none;
}
